<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <meta charset="utf-8">
</head>
<body>
  <h1>&ldquo;Make your heart sing&rdquo;</h1>
  <div id='graphDiv'></div>
  <button id='run'>Create</button>

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/d3.min.js"></script>
  <script src="static/js/howler.min.js"></script>
  
  <script>
    graphData = {{ data.graph | safe }}
    
    graphWidth = 0
    graphHeight = 0
  </script>
  <script src="static/js/gui.js"></script>
  <script src="static/js/audio.js"></script>
</body>
</html>
